<div>
    <h1>Sign in</h1>
    <form name="sign-in">
        <fieldset>
            <label>Username:</label>
            <input name="username " ng-model="username" type="text" placeholder="Enter your username">
            <br />
            <label>Password:</label>
            <input name="password" ng-model="password" type="password" placeholder="Enter your password">
            <br />
            <button type="submit" ng-disabled="submitReady">Sign in</button>
            <button type="button">Cancel</button>
        </fieldset>
    </form>
</div>