<div>
    <div class="container">
        <form>
            <h2 class="form-signin-heading">Please change your password</h2>
            <label for="oldPassword">Old Password:</label>
            <input type="password" id="oldPassword" class="form-control" ng-model="NewPassword" placeholder="Old Password" required>
            <br />
            <label for="NewPassword">New Password:</label>
            <input type="password" id="NewPassword" class="form-control" ng-model="OldPassword" placeholder="New Password" required>
            <br />
            <label for="AgainNewPassword">Again new Password:</label>
            <input type="password" id="AgainNewPassword" class="form-control" ng-model="Old2Password" placeholder="New Password" required>
            <br />
            <button class="btn btn-primary" type="submit">Confirm</button>
        </form>
    </div>
</div>
