<div>
    <br/>
    <div>
        <div>
            <uib-carousel active="active" interval="interval" no-wrap="noWrapSlides">
                <uib-slide ng-repeat="slide in slides">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                    </div>
                </uib-slide>
            </uib-carousel>
        </div>
   </div>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        Welcome to FESBbet world
                    </h1>
                    <hr />
                </div>
                <div class="col-md-4" ng-repeat="sport in container.sport">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>{{sport.name}}</h4>
                        </div>
                        <div class="panel-body">
                            <p>{{sport.description}}</p>
                            <a class="btn btn-default">View more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>